version: '2.32.1'

services:
    flask_app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: site_web_v2
        ports:
          - "5000:5000"
        depends_on:
          - mongodb
        networks:
          - app_network

    mongodb:
        image: mongo:4.4
        container_name: mongodb
        ports:
          - "27017:27017" # Expose MongoDB on port 27017
        networks:
          - app_network
          
networks:
    app_network:
